In [9]:
# Initial imports
from MCForecastTools import MCSimulation

%matplotlib inline
import os
import pandas as pd
import numpy as np
import seaborn as sns
import alpaca_trade_api as tradeapi
import matplotlib.pyplot as plt
import time
import datetime as dt
import pandas_datareader.data as web

In [11]:
#read ETH prices into data  
df_eth = pd.read_csv("Resources/ETH-USD.csv", index_col="Date", infer_datetime_format=True, parse_dates=True)
df_dis = pd.read_csv("Resources/DIS.csv", index_col="Date", infer_datetime_format=True, parse_dates=True)
df_spy = pd.read_csv("Resources/SPY.csv", index_col="Date", infer_datetime_format=True, parse_dates=True)
df_tsla = pd.read_csv("Resources/TSLA.csv", index_col="Date", infer_datetime_format=True, parse_dates=True)
df_baba = pd.read_csv("Resources/BABA.csv", index_col="Date", infer_datetime_format=True, parse_dates=True)

# df_eth.sort_index().dropna()
# df_eth.isnull().sum()
# df_eth = df_eth.dropna()
# df_eth = df_eth.rename(columns={'Close': 'close'})
# df_eth.columns = pd.MultiIndex.from_product([,df_eth.columns])



res = pd.concat([df_eth, df_dis, df_tsla], axis=1, join= 'inner')

res.head()

,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,,,,,,,
2016-06-08,14.507900,14.779600,14.275200,14.417700,14.417700,16941800.0,98.489998,98.820000,97.699997,98.040001,92.495163,5466200,46.759998,48.169998,46.521999,47.104000,47.104000,29860000
2016-06-09,14.430600,14.567200,14.340200,14.398600,14.398600,8256830.0,97.820000,97.930000,97.099998,97.839996,92.306473,5379400,46.995998,47.066002,45.411999,45.872002,45.872002,22460500
2016-06-10,14.375900,14.431800,13.820700,13.908600,13.908600,11312900.0,97.150002,97.709999,96.779999,97.339996,91.834770,7204400,45.478001,45.594002,43.683998,43.757999,43.757999,30133000
2016-06-13,15.772300,17.644199,15.719600,17.602699,17.602699,38023400.0,96.750000,98.980003,96.699997,97.570000,92.051743,8766300,43.900002,45.153999,43.532001,43.574001,43.574001,20965000
2016-06-14,17.612801,19.273500,17.298599,18.893200,18.893200,64412200.0,97.199997,98.550003,97.180000,98.400002,92.834816,6125700,43.776001,44.439999,42.506001,42.992001,42.992001,17901000

In [12]:
# #Create a new Dataframe that holds the closing price of both crypto currencies. 
# new_df = pd.DataFrame({'ETH': df_eth['Close']})
# new_df = pd.DataFrame({'BABA': df_eth['Close']})
# new_df = pd.DataFrame({'BABA': df_eth['Close']})
# new_df = pd.DataFrame({'BABA': df_eth['Close']})
# new_df = pd.DataFrame({'BABA': df_eth['Close']})

In [13]:
all_closing_prices["BABA"] = all_stocks_df["BABA"]["close"]
all_closing_prices["SPY"] = all_stocks_df["SPY"]["close"]
all_closing_prices["DIS"] = all_stocks_df["DIS"]["close"]
all_closing_prices["TSLA"] = all_stocks_df["TSLA"]["close"]
all_closing_prices["ETH"] = all_stocks_df["TSLA"]["close"]

                    ETH
Date
2016-06-08    14.417700
2016-06-09    14.398600
2016-06-10    13.908600
2016-06-11    14.191600
2016-06-12    15.743700
...                 ...
2021-06-04  2688.195068
2021-06-05  2630.576904
2021-06-06  2715.092773
2021-06-07  2590.263184
2021-06-08  2517.438721

[1827 rows x 1 columns]